@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-section {
    opacity: 0;
}

.fade-section.fade-in {
    animation: fadeIn 1s ease-out forwards;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.mobile-nav-toggle {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
}

.primary-navigation {
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 30%;
    background: rgba(44, 58, 71, 0.9);
    flex-direction: column;
    padding: min(30vh, 10rem) 2rem;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}

.primary-navigation[data-visible="true"] {
    transform: translateX(0%);
}

@media screen and (min-width: 769px) {
    .mobile-nav-toggle {
        display: none;
    }

    .primary-navigation {
        position: static;
        inset: auto;
        background: none;
        flex-direction: row;
        padding: 0;
        transform: none;
    }
}